*.root
*.png
*.pickle
*.log
HEPData-ins1419244-v2-Table_7.csv
HEPData-ins1419244-v2-Table_7.csv:Zone.Identifier
HEPData-ins1419244-v2-Table_7.root:Zone.Identifier
HEPData-ins1419244-v2-Table_8.csv
HEPData-ins1419244-v2-Table_8.csv:Zone.Identifier
HEPData-ins1419244-v2-Table_8.root:Zone.Identifier

__pycache__/_JetHadronAnalysis.cpython-39.pyc
__pycache__/_JetHadronFit.cpython-39.pyc
__pycache__/_JetHadronPlot.cpython-39.pyc
__pycache__/JetHadron_test.cpython-39-pytest-7.3.0.pyc
__pycache__/JetHadron.cpython-39.pyc
__pycache__/PionTPCNSigmaFitter.cpython-39.pyc
__pycache__/RPF.cpython-39.pyc
tests/__pycache__/JetHadron_test.cpython-39-pytest-7.3.0.pyc
jet_hadron.log
*.pyc
Thesis.code-workspace
JetHadronAnalysis/__pycache__/Analysis.cpython-39.pyc
JetHadronAnalysis/__pycache__/Analysis.cpython-310.pyc
JetHadronAnalysis/__pycache__/Sparse.cpython-310.pyc
JetHadronAnalysis/__pycache__/Types.cpython-39.pyc
JetHadronAnalysis/__pycache__/Types.cpython-310.pyc
JetHadronAnalysis/tests/__pycache__/Analysis_test.cpython-39-pytest-7.4.0.pyc
JetHadronAnalysis/tests/__pycache__/Analysis_test.cpython-310-pytest-7.4.0.pyc
JetHadronAnalysis/tests/__pycache__/Sparse_test.cpython-39-pytest-7.4.0.pyc
JetHadronAnalysis/tests/__pycache__/Sparse_test.cpython-310-pytest-7.4.0.pyc
*/*/*.pyc 
*/*/*/*.pyc
sqlitepractice.ipynb
tutorial.db
JetHadronAnalysis/TPCPionNsigmaFit.py
