*.root
*.png
*.pickle
HEPData-ins1419244-v2-Table_7.csv
HEPData-ins1419244-v2-Table_7.csv:Zone.Identifier
HEPData-ins1419244-v2-Table_7.root:Zone.Identifier
HEPData-ins1419244-v2-Table_8.csv
HEPData-ins1419244-v2-Table_8.csv:Zone.Identifier
HEPData-ins1419244-v2-Table_8.root:Zone.Identifier

__pycache__/_JetHadronAnalysis.cpython-39.pyc
__pycache__/_JetHadronFit.cpython-39.pyc
__pycache__/_JetHadronPlot.cpython-39.pyc
__pycache__/JetHadron_test.cpython-39-pytest-7.3.0.pyc
__pycache__/JetHadron.cpython-39.pyc
__pycache__/PionTPCNSigmaFitter.cpython-39.pyc
__pycache__/RPF.cpython-39.pyc
tests/__pycache__/JetHadron_test.cpython-39-pytest-7.3.0.pyc
